body {
    background-color: rgb(40,40,40);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0px;
}

.image-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    pointer-events: none;
    animation: moveVideo 30s infinite alternate ease-in-out, blurEffect 106s infinite ease-in-out;
}
@keyframes moveVideo {
    0% {
        transform: scale(1)     translate(0, 0)         rotate(0deg);
    }
    25% {
        transform: scale(1.05)  translate(-10px, -10px) rotate(2deg);
    }
    50% {
        transform: scale(1.1)   translate(20px, 15px)   rotate(-3deg);
    }
    75% {
        transform: scale(1.05)  translate(-15px, 10px)  rotate(1deg);
    }
    100% {
        transform: scale(1.1)   translate(10px, -15px)  rotate(-2deg);
    }
}
@keyframes blurEffect {
    0% {
        filter: blur(20px);
    }
    5% {
        filter: blur(0px);
    }
    95% {
        filter: blur(0px); 
    }
    100% {
        filter: blur(20px);
    }
}
.sidebar {
    width: 290px;
    background-color: rgb(32,32,32);
    position: fixed;
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.sidebar img {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0 auto 20px auto;
    display: block;
}

.sidebar a,
.sidebar button {
    color: white;
    background-color: rgb(32,32,32);
    border-width: 0;
    text-align: left;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18pt;
    font-family: 'Segoe UI Semibold', sans-serif;
    display: block;
    transition: padding 0.3s ease;
    outline: none;
}

.sidebar a:focus,
.sidebar button:focus {
background-color: white;
color: rgb(32,32,32);
padding-left: 40px;
outline: none;
}


.sidebar a:hover,
.sidebar button:hover {
    background-color: rgb(128, 128, 128);
}

.imgCredit {
    margin-left: 290px;
    color: gray;
    padding: 10px;
}

.content {
    margin-left: 290px;
    padding: 10px;
    max-width: 600px;
    height: 100vh;
    overflow: auto;
    scrollbar-width: 3px;
}

.card {
    background-color: rgb(32,32,32);
    padding: 10px;
    margin-bottom: 5px;
    border: 1px rgb(128, 128, 128) solid;
}

.compactCardTitle {
    height: 45px;
    background-color: rgb(32, 32, 32);
    display: flex;
    padding-left: 10px;
    padding-top: 4px;
}

.compactCardContent {
    padding: 10px;  
}

.compactCard {
    transition: max-height 1s;
    background-color: rgb(32,32,32);
    margin-bottom: 5px;
    max-height: 45px;
    overflow: hidden;
    border: 1px rgb(128, 128, 128) solid;
}

.compactCard:hover {
    max-height: 500px;
}

.blurred {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    padding:5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

img.border {
    margin-bottom: 10px;
    border: 1px rgb(128, 128, 128) solid;
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 0;
    }
}